body{
    font-family: sans-serif;
    margin: 0; /*Hace que no halla espacio en ninguna de las esquinas*/
   
}
header{
    list-style: none;
    align-items: center;
    display: flex;
   
}

.logo{
    display: flex;
}
.logo img{
    height: 30%;
    width:  40%;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
}
li{
    list-style-type: none;
    display: inline-block;
    padding: 55px;
    margin-left: -85px;
}
a:hover{
    color: #003285;
}
.container-img{
    width: 10px;
    height: 10px;
}
.letras{
    width: 200px;
    height: 100px;
}
.informacion{
    color: #003285;
    margin-left: 50%;
    margin-top: 8%;
}

h1:hover{
    color: black;
}
aside{
    color: #2a63be;
    margin-top: 10%;
}
.descripcion{
    font-size: smaller;
}
.enlaces{
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
}
.botones{
    display: inline-block;
    margin-left: 60px;
    
}

.francia{
    border-style:groove;
    width: 300px;
    float: left;
    margin-bottom: 10px;
}
.españa{
    border-style:groove;
    width: 300px;
    float: right;
    margin-top: -35px;
    margin-bottom: 10px;
   
}
.italia{
    border-style:groove;
    width: 300px;
    float: left;
    margin-bottom: 10px;
}
.portugal1{
    border-style:groove;
    width: 300px;
    float: right;
    margin-bottom: 10px;
}
.argentina{
    border-style:groove;
    width: 300px;
    float: left;
    margin-bottom: 10px;
}
.china{
    border-style:groove;
    width: 300px;
    float: right;
    margin-bottom: 10px;
}
.colombia{
    border-style:groove;
    width: 300px;
    float: left;
    margin-bottom: 10px;
}
.mexico{
    border-style:groove;
    width: 300px;
    float: right;
    margin-bottom: 10px;
}
.japon{
    border-style:groove;
    width: 300px;
    float: left;
    margin-bottom: 10px;
}
.corea{
    border-style:groove;
    width: 300px;
    float: right;
    margin-bottom: 10px;
}
.españa-nota{
    background-color:#2a63be;
    color:rgb(255, 255, 255);
    width: 10%; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10%;
}
.francia-nota{
    background-color:#2a63be;
    color:rgb(255, 255, 255);
    width: 10%; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10%;
}
.texto{
    color: #0d0d0d;
    margin-left: 10%;
}

.italia-nota{
    background-color:#2a63be;
    color:rgb(255, 255, 255);
    width: 10%; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10%;
}
 .portugal-nota{
    background-color:#2a63be;
    color:rgb(255, 255, 255);
    width: 10%; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10%;
 }

.argentina-nota{
    background-color:#2a63be;
    color:rgb(255, 255, 255);
    width: 10%; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10%;
}
.china-nota{
    background-color:#2a63be;
    color:rgb(255, 255, 255);
    width: 10%; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10%;
}
.colombia-nota{
    background-color:#2a63be;
    color:rgb(255, 255, 255);
    width: 10%; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10%;
}
.mexico-nota{
    background-color:#2a63be;
    color:rgb(255, 255, 255);
    width: 10%; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
.portugal-nota{
    background-color:#2a63be;
    color:rgb(255, 255, 255);
    width: 10%; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.japon-nota{
    background-color:#2a63be;
    color:rgb(255, 255, 255);
    width: 10%; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10%;
}
.corea-nota{
    background-color:#2a63be;
    color:rgb(255, 255, 255);
    width: 10%; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10%;
}

.francia-nota:hover{
    background-color:#b71515;
    color:white;
}
.españa-nota:hover{
    background-color:#0d0d0d;
    color: white;
}
.italia-nota:hover{
    background-color:#187d0f;
    color:black;
}
.portugal-nota:hover{
    background-color:#bcc219;
    color:rgb(250, 246, 246);
}
.argentina-nota:hover{
    background-color:#6c93f6;
    color:rgb(252, 249, 249);
}
.china-nota:hover{
    background-color:#b71515;
    color:black;
}
.mexico-nota:hover{
    background-color:#187d0f;
    color:black;
}
.japon-nota:hover{
    background-color:#b71515;
    color:white;
}
.corea-nota:hover{
    background-color:#230dcd;
    color:black;
}
.colombia.nota:hover{
    background-color:#e4f54f;
    color:black;
}
.pie{
    background-color:black;
    padding: 10px;
    color: white;
    width: 99%;

    height: 133px;
}
.imagen-footer{
    margin-left: 54%;
    margin-top: -105px;
    border-radius: 50%;
}
.parrafo-footer{
    color:white;
    margin-left: 75%;
    margin-top: -130px;
}


     
    
    

   
   
   


    

