body {
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 610px;
    background-attachment: fixed;
    background-position: center;
}
.contenedor {
    padding-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white ;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(185, 3, 3);
}
.intro {
    background-color: rgb(233, 233, 1);
    padding-left:10px;
    padding-right: 10px;
    padding-block-end: 5px;
    border-radius: 5px;
}
.intro h1 {
    text-align: center;
}
.link{
    text-decoration: none;
    color: white;
}
.demo {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
