body{
    background-image: url(portugal.jpg);
    background-repeat: no-repeat;
    background-size: 100% 630px;
    background-attachment: fixed;
    background-position: center;
}
.container{
background-color: rgb(255, 255, 255);
margin-left: 10%;
margin-right: 10%;
border: solid gold;
text-align: center;
}
.container h1{
    color: green;
}
.section{
    border: solid rgb(32, 255, 2);
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
.section img{
    border: solid rgb(111, 255, 0);
}
.section h1{
    background-color: green;
}
.sections{
 border: solid rgb(255, 247, 0);
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
.sections img{
    border: solid rgb(255, 0, 0);
}
.sections h1{
    background-color: rgb(0, 255, 0);
}

.section3{
    border: solid rgb(255, 4, 4);   
    background-color: rgb(255, 255, 255);
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
.section3 img{
    border: solid rgb(255, 238, 0);
}
.section3 h1{
    background-color: rgb(0, 255, 0);
}
footer {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    border: solid green;
    margin-left: 10%;
    margin-right: 10%;
    border: solid red;
    text-align: center;
}