/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 0 20px;
}

/* Estilos de encabezado */
header {
    background-color: #0833a2;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

/* Estilos de navegación */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: hsl(48, 89%, 60%);
}

/* Estilos de secciones */
section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}

section h2 {
    color: #333;
    margin-bottom: 10px;
}

section p {
    color: #666;
    margin-bottom: 20px;
}

section img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

/* Estilos de pie de página */
footer {
    background-color: #0833a2;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}


